body{
    margin: 0;
    padding: 0;
    background-color: #141313;
}

.box::-webkit-scrollbar{
    display: none;
}

.box2::-webkit-scrollbar{
    display: none;
}



.topnav {
    overflow: none;
    background-color: #202124; /*Colore nero alla navbar*/
    height: 5%;
    min-width: 100%;
}

.logonetgrongsx{
    height: 75%;
    width: 10%;
}


.sotto{
    overflow: none;
    background-color: #46474b;
    width: 100%;
    height: 95%;
}

@media only screen and (max-width: 450px){
    .sotto{
        overflow: none;
        background-color: #141313;
    }

    .avviso{
        display: none;
    }

    .logonetgrongsx{
        width: 100px;
        padding: 6px;
    }

    
    .slider{
        overflow: hidden;
    }

    .figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 20s slider infinite
    }

    .img{
        float: left;
        width: 20%;
        height: 30%;
        object-fit: fill;
        margin-top: 2%;
    }
    
    @keyframes slider {
        0%{
            left: 0;
        }
        20%{
            left: 0;
        }
        25%{
            left: -100%;
        }
        45%{
            left: -100%;
        }
        50%{
            left: -200%;
        }
        70%{
            left: -200%;
        }
        75%{
            left: -300%;
        }
        95%{
            left: -300%;
        }
    }

    .nuoveuscitetesto{
        margin: 0;
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        width: 100%;
        font-style: italic;
        font-size: xx-large;
        font-stretch: expanded;
        position: absolute;
        text-shadow: 2px 2px 4px #ca1010;
        
        
    }

    .footer{
        padding-top: 10px;
        color: #46474b;
        text-align: center;
        width: 100%;
    }

    .cim{
        width: 105%;
        height: 15%;
        left: -9%;
        overflow: hidden;
        position: relative;
    }

    .box{
        position: absolute;
        height: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        display: inline-block;
        text-align: center;
        box-sizing: content-box;
        display: flex;
        align-items: flex-start;
    }

    .box img{
        position: relative;
        min-width: 25%;
        width: 40%;
        height: 80%;
        right: -12%;
        margin: 5px 10px;
        cursor: pointer;
        transition: 0.5s ease;
        z-index: 2;
    }

    .box img:hover{
        transform: scale(1.2);
        box-shadow: 0px 15px 20px rgba(211, 34, 34, 0.4);
        z-index: 5;
    }

    .cimtit{
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        width: 110%;
        font-style: italic;
        margin: 5px;
        font-size: large;
        font-stretch: expanded;
        position: relative;
        text-shadow: 2px 2px 4px #10ca4e;
    }

    .marvel{
        width: 105%;
        height: 15%;
        left: -9%;
        overflow: hidden;
        position: relative;
    }

    .marveltit{
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        width: 110%;
        font-style: italic;
        margin: 5px;
        font-size: large;
        font-stretch: expanded;
        position: relative;
        text-shadow: 2px 2px 4px #beca10; 
    }

    .shortfilm{
        width: 105%;
        height: 15%;
        left: -9%;
        overflow: hidden;
        position: relative;
    }

    .shortfilmtit{
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        width: 110%;
        font-style: italic;
        margin: 5px;
        font-size: large;
        font-stretch: expanded;
        position: relative;
        text-shadow: 2px 2px 4px #1310ca; 
    }

    .goliardieseriali{
        width: 105%;
        height: 15%;
        left: -9%;
        overflow: hidden;
        position: relative;
    }

    .goliardieserialitit{
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        width: 110%;
        font-style: italic;
        margin: 5px;
        font-size: large;
        font-stretch: expanded;
        position: relative;
        text-shadow: 2px 2px 4px #ca8910; 
    }
  
    .navbtn{
        display: inline-block;
        position: relative;
        width: 10%;
        color: #a71c1c;
        font-weight: bolder;
        height: 60%;
        left: 58%;
        bottom: 40%;
        border-radius: 8px;
        text-align: center;
    }

    .navbtn:hover {
        background-color: #a71c1c;
        box-shadow: 0px 15px 20px rgba(211, 34, 34, 0.4);
        color: #fff;
        transform: translateY(-4px);
    }

    .auguri{
        width: 100%;
        height: 30%;
        position: relative;
        overflow: hidden;
    }

    .auguritit{
        position: absolute;
        text-align: center;
        color: white;
        top: 3%;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        width: 100%;
        font-style: italic;
        text-shadow: 2px 2px 4px #ca10b1; 
        font-size: xx-large;
     
    }

    .box2{
        position: absolute;
        height: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        display: inline-block;
        text-align: center;
        box-sizing: content-box;
        display: flex;
        align-items: flex-start;
    }

    .box2 img{
        position: relative;
        min-width: 25%;
        width: 40%;
        height: 40%;
        margin: 5px 10px;
        cursor: pointer;
        transition: 0.5s ease;
        z-index: 2;
        top: 35%;
    }

    .box2 img:hover{
        transform: scale(1.2);
        box-shadow: 0px 15px 20px rgba(211, 34, 34, 0.4);
        z-index: 5;
    }


    .info1{
        position: absolute;
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        width: 100%;
        font-style: italic;
        font-size: xx-large;
        text-shadow: 2px 2px 4px #1310ca; 
    }

    .info2{
        top: 15%;
        position: absolute;
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        width: 100%;
        font-style: italic;
        font-size: large;
        text-shadow: 2px 2px 4px #ca1048; 
    }

    .info3{
        top: 30%;
        position: absolute;
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        width: 100%;
        font-style: italic;
        font-size: large;
        text-shadow: 2px 2px 4px #ca1048; 
    }

    .info4{
        top: 40%;
        position: absolute;
        text-align: center;
        color: white;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        width: 100%;
        font-style: italic;
        font-size: large;
        text-shadow: 2px 2px 4px #73ca10; 
    }





    
    














}

@media only screen and (min-width: 460px){
    .sotto{
        background-color: crimson;
        height: 100%;
    }

    .topnav{
        display: none;
    }

    .cim{
        display: none;
    }

    .marvel{
        display: none;
    }

    .shortfilm{
        display: none;
    }

    .goliardieseriali{
        display: none;
    }


    .avviso{
        display: block;
        font-size: 100px;
        color: aliceblue;
        text-align: center;
        padding-top: 400px;
    }

    .nuoveuscitetesto{
        display: none;
    }


    .slider{
        display: none;
    }

    

}
